body {

    background-image: url("/img/bg.jpg");
    color: rgb(200, 200, 200);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: inherit;
}

h2, h3 {
    color: rgb(150, 150, 150);
}

@wrapbg: rgba(20, 15, 15, 0.9);

.wrap {
    background-color: @wrapbg;
    box-shadow: 0 0 1em 0.5em @wrapbg;
    width: 600px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px;
    min-height: 100vh;
    height: 100%;
}

#login-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-names {
    color: rgb(130, 130, 130);
    font-size: 31.5px;
    margin-bottom: 30px;
}

.section-names h2 {
    display: inline;
}

h1 a, h2 a {
    color: inherit;
}

h2.active {
    color: rgb(255, 250, 250);
}

.clock {
    width: 100%;
    font-size: large;
    margin: 30px auto;
    text-align: center;
}

.countdowns, .stopwatches {
    list-style: none;
    padding-left: 0;
}

.delete {
    color: maroon;
}

.delete:hover {
    color: red;
}

.countdowns li, .stopwatches li {
    margin-bottom: 1em;
}

span.datetime {
    color: rgb(200, 200, 240);
}

.laps {
    list-style-type: none;
    display: inline;
    padding-left: inherit;
}
.laps li { display: inline; }
.laps li:after { content: ", "; }
.laps li:last-child:after { content: ""; }
