
.wrap {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: silver;
}

h2 span.active {
    color: black;
}

h2 span:hover {
    text-decoration: underline;
}

.clock {
    margin-top: 20px;
    margin-bottom: 20px;
}
